/********************************************************** Grid */
:root {
    --col-amount: 6;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(15px, 1fr));
}

/* Alignment */
.grid-vertical-center {
    display: grid;
    align-items: center;
}
.grid-horizontal-center {
    display: grid;
    justify-content: center;
}
.grid-horizontal-end {
    display: grid;
    justify-content: end;
}
.grid-center-center {
    display: grid;
    align-items: center;
    justify-content: center;
}


/* SPAN COLS */
.grid-col-span-2 {
    grid-column: span 2;
    /* grid-column: span calc(6 / 3); */
}
.grid-col-span-3 {
    grid-column: span 3;
    /* grid-column: span calc(var(--col-amount) / 2); */
}
.grid-col-span-4 {
    grid-column: span 4;
    /* grid-column: span calc(var(--col-amount) / 2); */
}
.grid-col-span-5 {
    grid-column: span 5;
    /* grid-column: span calc(var(--col-amount) / 2); */
}
.grid-col-span-6 {
    grid-column: span 6;
    /* grid-column: span var(--col-amount); */
}

/* SPAN ROWS */
.grid-row-span-third {
    grid-row: span 2;
    /* grid-row: span calc(var(--col-amount) / 3); */
}
.grid-row-span-half {
    grid-row: span 3;
    /* grid-row: span calc(var(--col-amount) / 2); */
}
.grid-row-span-full {
    grid-row: span 6;
    /* grid-row: span var(--col-amount); */
}

/********************************************************** Fonts */
.f1 {
    font-size: 3.052rem;
}
.f2 {
    font-size: 1.953rem;
}
.f3 {
    font-size: 1.25rem;
}
.f4 {
    font-size: 1rem;
}

/********************************************************** Menus */
/* TODO: REFACTOR: removal */
.ul-row-menu { 
    display: flex;
    align-items: center;
    list-style-type: none;
}
.ul-menu-row {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.ul-menu-col {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
/********************************************************** Buttons */
.btn:hover{
    background-color: var(--color-orange);
    color: var(--color-darker-blue);
}
.btn-blue-darker {
    background-color: var(--color-darker-blue);
}
.btn-blue-dark {
    background-color: var(--color-dark-blue);
}
.btn-blue-dark {
    background-color: var(--color-light-blue);
}
.btn-orange {
    background-color: var(--color-orange);
}
.btn-black {
    background-color: black;
}

/********************************************************** Modals */
.my-modal-wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;


    background-color: rgba(0, 0, 0, 0.452);
}
.my-modal {
    position: relative;
    top: 0;
    min-width: 75vw;
    max-height: 90vh;

    padding: 1em;
    margin: 1em;
    
    background-color: white;
    border-radius: 1em;

    overflow: auto;
}
.my-modal-header {
    display: flex;
    justify-content: space-between;

    margin: 0 0.5em 1em 0.5em;
}

/********************************************************** MISC */
.underlined {
    text-decoration: underline;
}
.u {
    text-decoration: underline;
}
.sticky-top {
    position: sticky;
    top: 0;
    left: 0;
}
.clickable {
    cursor: pointer;
}


/********************************************************** Colors */

/* BACKGROUNDS */
.bg-blue-darker {
    background-color: var(--color-darker-blue);
}
.bg-blue-dark {
    background-color: var(--color-dark-blue);
}
.bg-blue-light {
    background-color: var(--color-light-blue);
}
.bg-orange {
    background-color: var(--color-orange);
}
.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}

/* BACKGROUNDS - HOVER */
.bg-hover-darker:hover {
    background-color: var(--color-darker-blue);
}
.bg-hover-dark:hover {
    background-color: var(--color-dark-blue);
}
.bg-hover-light:hover {
    background-color: var(--color-light-blue);
}
.bg-hover-orange:hover {
    background-color: var(--color-orange);
}
.bg-hover-white:hover {
    background-color: white;
}
.bg-hover-black:hover {
    background-color: black;
}

/* TEXT */
.txt-blue-darker {
    color: var(--color-darker-blue);
}
.txt-blue-dark {
    color: var(--color-dark-blue);
}
.txt-blue-light {
    color: var(--color-light-blue);
}
.txt-orange {
    color: var(--color-orange);
}
.txt-white {
    color: white;
}
.txt-black {
    color: black;
}
.txt-dark-gray {
    color: rgb(92, 92, 92);
}

/* TEXT - HOVER */
.txt-hover-darker:hover {
    color: var(--color-darker-blue);
}
.txt-hover-dark:hover {
    color: var(--color-dark-blue);
}
.txt-hover-light:hover {
    color: var(--color-light-blue);
}
.txt-hover-orange:hover {
    color: var(--color-orange);
}
.txt-hover-white:hover {
    color: white;
}
.txt-hover-black:hover {
    color: black;
}




